<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
  <title>Sign Up</title>
</head>
<body>
  <div class="sign">
    <p class="sign_title">Sign In</p>
    <div>
      <form action="/signin" method="post">
        <div>
          <div>
            <input name="username" placeholder="ユーザー名入力" class="sign_input"><br>
            <input name="password" placeholder="パスワード入力" class="sign_input"><br>
          </div>
          <div>
            <input type="submit"value="SIGN IN" class="sign_submit">
          </div>
        </div>
      </form>
    </div>
    <div>
      <a href="/signup" class="go_sign">Sign Upはこちら</a>
    </div>
  </div>
</body>
</html>
