<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
  <title>Sign Up</title>
</head>
<body>
  <div class="sign">
    <p class="sign_title">Sign Up</p>
    <div>
      <form action="/signup" method="post">
        <div>
          <div>
            <input name="username" placeholder="ユーザー名" class="sign_input"><br>
            <input name="password" type="password" placeholder="パスワード" class="sign_input"><br>
            <input name="password_confirmation" type="password" placeholder="パスワード確認" class="sign_input"><br>
          </div>
          <div>
            <input type="submit"value="SIGN UP" class="sign_submit">
          </div>
        </div>
      </form>
    </div>
    <a href="/" class="go_sign">新規登録はこちら</a>
  </div>


</body>
</html>
